<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css" />

</head>

<body>
  <div>

    <div>The Tech Blog</div>
    <button></button>
    <div>
      <ul>
        <li>
          <a aria-current="page" href="/">Home</a>
        </li>
        {{#if logged_in}}

        <li>
          <a href="/dashboard">Dashboard</a>
        </li>

        {{! need to add css }}
        <li>
          <button id="logout">Logout</button>
        </li>

        {{else}}
        <li>
          <a href="/login">Login</a>
        </li>

        <li>
          <a href="/signUp">Sign Up</a>
        </li>
        {{/if}}

      </ul>
    </div>
  </div>
  </nav>

  <main>
    {{{body}}}
  </main>
  <footer>
  </footer>
  </div>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>